<%
const activePage = 'add';
%>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include("./partials/nav.ejs", { activePage: activePage }) %>
<div class="content">
    <div class="page_header">
        <h3><i class="fa-solid fa-clipboard-check"></i> Course Registration</h3>
    </div>
    <div class="search_section">
        <div class="search_input">
            <input type="text" placeholder="Course Name"/>
            <input type="text" placeholder="Course Number"/>
            <select id="cars" name="cars">
                <option value="" disabled selected>Semester</option>
                <option value="Summer">Summer</option>
                <option value="Fall">Fall</option>
                <option value="Spring">Spring</option>
            </select>
            <input type="submit" value="Search"/>
        </div>
    </div>
    <div class="courses_section">
        <table id="course_list">
            <tr>
                <th></th>
                <th>
                    Course Name
                </th>
                <th>
                    Name
                </th>
                <th>
                    Credits
                </th>
                <th>
                    Subject
                </th>
                <th>
                    Action
                </th>
            </tr>
        </table>
    </div>
</div>
<script>
    // Load courses from JSON file
    window.addEventListener('load', () => {
        // Load courses from JSON file
        const courses = fetch('/getAllCourses');
        courses.then(response => response.json())
            .then(courses => {
                console.log(courses);
                // Iterate over courses and create course cards
                courses.forEach(course => {
                const courseDiv = document.createElement('tr');
                courseDiv.innerHTML = `
                                                <td>

                                                </td>
                                                <td>
                                                    ${course.name}
                                                </td>
                                                <td>
                                                    ${course.description}
                                                </td>
                                                <td>
                                                    ${course.credits}
                                                </td>
                                                <td>
                                                    ${course.subject}
                                                </td>
                                                <td>
                                                    <% if (usr.role === 'teacher') { %>
                                                        <a href='/editCourse/${course._id}'><i class='fa-solid fa-pen-to-square' style='color: #000'></i></a>
                                                        <a href='/add/deleteCourse/${course._id}'><i class='fa-solid fa-trash' style='color: red'></i></a>
                                                    <% } else { %>
                                                        <a href='/add/join/${course._id}'><i class="fa-solid fa-cart-plus" style="color: #000;"></i></a>
                                                    <% } %>
                                                </td>
                                            `;
                document.getElementById('course_list').appendChild(courseDiv);
            });
        })
        .catch(error => console.error('Error loading courses', error));
    });
</script>
</body>
</html>