<%
const activePage = 'cart';
%>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include("./partials/nav.ejs", { activePage: activePage }) %>
<div class="content">
    <div class="page_header">
        <h3><i class="fa-solid fa-cart-shopping"></i> <%= usr.username %>'s Cart</h3>
    </div>
    <div class="courses_section">
        <table id="course_list">
            <tr>
                <th></th>
                <th>
                    Course Name
                </th>
                <th>
                    Name
                </th>
                <th>
                    Credits
                </th>
                <th>
                    Subject
                </th>
                <th>
                    Action
                </th>
            </tr>
        </table>
        <form method="GET" action="/cart/purchaseCart" class="cart">
            <input type="submit" value="Check out"/>
        </form>
    </div>
</div>
<script>
    // Load courses from JSON file
    window.addEventListener('load', () => {
        // Load courses from JSON file
        const courses = fetch('/cart/getCart');
        courses.then(response => response.json())
            .then(courses => {
                console.log(courses);
                // Iterate over courses and create course cards
                courses.forEach(course => {
                    const courseDiv = document.createElement('tr');
                    courseDiv.innerHTML = `
                                                <td>

                                                </td>
                                                <td>
                                                    ${course.name}
                                                </td>
                                                <td>
                                                    ${course.description}
                                                </td>
                                                <td>
                                                    ${course.credits}
                                                </td>
                                                <td>
                                                    ${course.teacher}
                                                </td>
                                                <td>
                                                    <a href='/cart/removeCourse/${course._id}'><i class='fa-solid fa-trash' style='color: red'></i></a>
                                                </td>
                                            `;
                    document.getElementById('course_list').appendChild(courseDiv);
                });
            })
            .catch(error => console.error('Error loading courses', error));
    });
</script>
</body>
</html>