<%
const activePage = 'course';
%>
<html lang="en">
  <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs', { activePage: activePage }) %>
        <div class="content">
            <div class="page_header">
                <h3> <%= Course.name %></h3>
            </div>
            <p><%= Course.description %></p>
        </div>
    </body>
</html>