<%
const activePage = 'create';
%>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<%- include('./partials/head.ejs') %>
<body>
<%- include("./partials/nav.ejs", { activePage: activePage }) %>
<div class="content">
    <div class="page_header">
        <h3><i class="fa-solid fa-plus"></i> Create Class </h3>
    </div>
    <div class="create-a-course">
        <form method="POST" action="/create">
        <div class="input-row">
            <label for="cname">course name</label>
            <input type="text" id="cname" name="name" placeholder="EX: Introduction to Python"/>
        </div>
        <div class="input-row">
            <label for="csubject">course subject</label>
            <select name="subject" id="csubject">
                <option value="" disabled selected>- Subject -</option>
                <option value="MATH">Math</option>
                <option value="ENG">English</option>
                <option value="SCI">Science</option>
                <option value="HIST">History</option>
                <option value="COMPSCI">Computer Science</option>
            </select>
        </div>
        <div class="input-row">
            <label for="cdesc">course description</label>
            <textarea id="cdesc" name="description" placeholder="EX: A Basic understanding of Python and algorithms "></textarea>
        </div>
        <div class="input-row">
            <label for="credits">course credits</label>
            <input type="number" id="credits" name="credits" placeholder="EX: 1" min="0" max="10"/>
        </div>
        <div class="input-row">
            <label for="cimage">course image [URL]</label>
            <input type="text" name="image" id="cimage" placeholder="EX: http://anthonyaldrich.com/images/placeholder.jpg"/>
        </div>
        <div class="input-row">
            <label for="ccolor">course color</label>
            <input type="color" name="color" id="ccolor" value="#00567c"/>
        </div>
        <div class="input-row">
            <input type="submit" value="create course" />
        </div>
        </form>
    </div>
</div>
</body>
</html>