<%
const activePage = 'home';
%>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
    <%- include("./partials/nav.ejs", { activePage: activePage, usr: usr }) %>
        <div class="content">
            <div class="page_header">
                <h3><i class="fa-solid fa-home"></i> <%= usr.username %> Home</h3>
            </div>
            <div id="course_container">
            </div>
            <div class="assignments_container">
            </div>
        </div>
        <script>
            window.addEventListener('load', () => {
              // Load courses from JSON file
              const courses = fetch('/getStudentClasses');
                  courses.then(response => response.json())
                  .then(courses => {
                      console.log(courses);
                      // Iterate over courses and create course cards
                      courses.forEach(course => {
                          const courseDiv = document.createElement('div');
                          courseDiv.classList.add('course');
                          courseDiv.innerHTML = `
                                                  <span class="img">
                                                      <span style="background: rgba(${course.color},0.4);">
                                                      </span>
                                                      <img src="${course.image}" alt="courseimg"/>
                                                  </span>
                                                  <span class="info">
                                                      <span><a href="./course/${course._id}" style="color: rgba(${course.color}, 1); font-weight: 800;">${course.name}</a></span><BR>
                                                      <span style="color: #8d8d8d;">${course.description}</span>
                                                  </span>
                                              `;
                          document.getElementById('course_container').appendChild(courseDiv);
                      });
                  })
                  .catch(error => console.error('Error loading courses', error));
            })
            
        </script>
    </body>
</html>
