<html lang="en">
    <head>
        <title>Login</title>
        <link href="style.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="loginform">
            <div class="logincontainer">
                <h1>Login</h1>
                <label for="username">
                    Username:
                </label>
                <input id="username" type="text" name="username" placeholder="Enter Username"/>
                <br/>
                <label for="password">
                    Password:
                </label>
                <input id="password" type="password" name="password" placeholder="Enter Password"/>
                <br/>
                <input type="submit" value="Login"/>
            </div>
        </div>
    </body>
</html>