*{
    margin: 0 auto;
}

body{
    display: flex;
    flex-direction: row;
}
.loginform{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #eee;

}
    .loginform .logincontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        width: 25%;
        height: 60%;
        border-radius: 15px;
        background: #83A189;
        box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    }

.navigation{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 6rem;
    height: 100vh;
    background-color: #83A189;
    color: #fff;
}
    .navigation > *{
        margin-top: 1rem;
    }
    .user{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 800;
    }
        .user img{
            max-width: 100%;
            width: 3rem;
            height: 3rem;
            vertical-align: middle;
            border-radius: 50%;
            border: 3px solid #fff;
            object-fit: fill;
        }
    .navigation .nav-items{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        list-style-type: none;
        width: 100%;
    }
        .navigation .nav-items .nav-item{
            width: 100%;
            height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .navigation .nav-items .active{
            background: #eee;
        }
            .nav-item a {
                color: #fff;
            }
            .nav-items .active > a{
                color: #333;
            }
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: #eee;
}
    #course_container{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: center;
        align-content: space-around;
        height: 50%;
        margin-top: 5rem;
        overflow-wrap: normal;
    }
        #course_container .course{
            display: flex;
            flex-direction: column;
            width: 30%;
            height: 50%;
            box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
            overflow: hidden;
        }
            #course_container .course .img{
                height: 60%;
                width: 100%;
                position: relative;
            }
                #course_container .course .img span{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
                #course_container .course .img img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            #course_container .course .info{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: flex-start;
                position: relative;
                height: 40%;
                width: 100%;
                left: 0;
            }
                #course_container .course .info > span{
                    width: 100%;
                    text-align: left;
                    margin-left: 1rem;
                }